services:
  db:
    image: mysql:8.0
    container_name: assignment-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: <PUT YOUR MYSQL PASSWORD>
      MYSQL_DATABASE: analytics
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 15s

  redis:
    image: redis:latest
    container_name: assignment-redis
    restart: always
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: assignment-app
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file: .env
    ports:
      - "8080:8080"
